<div class="jumbotron">
    <h1>Listagem Cursos</h1>
</div>
<div class="row">
    <div class="col-md-2">
            <button [routerLink]="['/cursos/novo']" class="btn btn-primary">Novo Curso</button>
    </div>
</div>

<div class="table-responsive" style="margin-top: 10px;">
    <table class="table table-striped">
        <thead>
            <th>Nome</th>
            <th>Descrição</th>
            <th>Período</th>
            <th>Categoria</th>
            <th></th>
        </thead>
        <tbody>
            <tr *ngFor="let curso of cursos">  
                <td>{{curso.nome}}</td>
                <td>{{curso.descricao}}</td>
                <td>{{curso.periodo}}</td>
                <td>{{curso.categoria}}</td>
                <td>
                    <button type="button" (click)="remover(curso)" class="btn-link" style="color: #a94442">
                        <i class="glyphicon glyphicon-remove"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>